<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="projects">Project</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
    <h1>Contact</h1>
    <h3>Please feel free to leave any feedback</h3>
    <form action="">
        <label>Name: </label>
        <input type="text">
        <br>
        <label>Email:</label>
        <input type="email">
        <br>
        <label>Message:</label>
        <br>
        <textarea cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>