<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" href="/css/project.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="projects">Project</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
    <h1>My Projects</h1>
    <div class="project">
        <h3>Travel Buddy</h3>
        <img src="/css/donatello.jpg" alt="">
        <p>An application that allows you to plan trips and allows others to join it they wish.</p>
    </div>
    <div class="project">
        <h3>Portfolio</h3>
        <img src="/css/leonardo.jpg" alt="">
        <p>Website about me.</p>
    </div>
    <div class="project">
        <h3>Guess the Number</h3>
        <img src="/css/raphael.jpg" alt="">
        <p>Simple game that asks users to guess the correct number.</p>
    </div>
</body>
</html>