<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    @foreach(var error in ViewBag.Errors)
    {
        <p>@error</p>
    }
    <form action="result" method="post">
        <label>Your Name: </label>
        <input type="text" name="name">
        <br>
        <label>Dojo Location: </label>
        <select name="location">
            <option value="Los Angeles">Los Angeles</option>
            <option value="Seattle">Seattle</option>
            <option value="Dallas">Dallas</option>
        </select>
        <br>
        <label>Favorite Language: </label>
        <select name="language">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
        </select>
        <br>
        <label>Comment (optional): </label>
        <br>
        <textarea name="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>