<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="/">Test App</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <a class="navbar-brand" href="/signin">Sign in</a>
      </div>
    </nav>
    <div class="jumbotron">
      <h1 class="display-3">Welcome to the Test</h1>
      <p class="lead">We're going to build a cool application using a MVC framework! this application was built by Ahrav</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/signin" role="button">Start</a>
      </p>
    </div>
  </body>
</html>
